@{
    ViewData["Title"] = "AITRIOS Console Mockup Demo";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-sm-12">
            <div class="card my-card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fas fa-tachometer-alt my-btn-fa"></i>
                        Dashboard
                    </h3>
                </div>
                <div class="card-body pad">
                    <div>
                        <button type="button" class="btn btn-outline-success my-btn-outline-success">
                            <i class="fa-solid fa-gear my-btn-fa"></i>Configure Device
                        </button>
                        <button type="button" class="btn btn-outline-success my-btn-outline-success">
                            <i class="fa-solid fa-folder-plus my-btn-fa"></i>Add Device Group
                        </button>
                        <button type="button" class="btn btn-outline-success my-btn-outline-success">
                            <i class="fas fa-sync my-btn-fa"></i>Refresh
                        </button>
                        <button type="button" class="btn btn-outline-danger my-btn-outline-danger" >
                            <i class="far fa-trash-alt my-btn-fa-danger"></i>Remove Device
                        </button>
                    </div>
                    <div style="padding-top:1rem">
                        <img src="~/images/Dashboard.png" alt="Logo" class="brand-image elevation-0">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <script type="text/javascript">


        $(document).ready(function () {
            $(document).ready(function () {
                document.getElementById('li_advanced').classList.add('active');
                document.getElementById('li_dashboard').classList.remove('active');

                $('.sidebar-mini').addClass('sidebar-open');
                $('.sidebar-mini').removeClass('sidebar-closed sidebar-collapse');
            });
        });

    </script>
}