@{
    ViewData["Title"] = "AITRIOS Object Detection Demo";
}

<div class="container-fluid">
    <div class="row" style="padding-top:28px;">
        <!-- Camera 1 -->
        <!-- For EVS only 2 columns
        <div class="col-12 col-sm-4 col-md-4 my-col">
        -->
        <image id="aitrios-logo" src="/images/AITRIOS-Logo-Canvas-BG.png" style="display:none"></image>
        <div class="col-12 col-sm-6 col-md-6 my-col">
            <div class="header-frame">
                <div class="header-frame-inside">
                    <div id="camera_1_wifi_icon" class="Svg-Inactive" width="24" height="24">
                        <svg class="Wifi-Svg" width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 5.00001L2 7.00001C6.97 2.03001 15.03 2.03001 20 7.00001L22 5.00001C15.93 -1.06999 6.08 -1.06999 0 5.00001ZM8 13L11 16L14 13C12.35 11.34 9.66 11.34 8 13ZM4 9.00001L6 11C8.76 8.24001 13.24 8.24001 16 11L18 9.00001C14.14 5.14001 7.87 5.14001 4 9.00001Z" fill="currentColor" />
                        </svg>
                    </div>
                    <div class="header-camera-name font-subhead" id="camera_1_name">Checking Camera Status...</div>
                    <div class="header-right-icon-frame">
                        <button type="button" class="btn btn-ai-inactive" id="camera_1_ai_btn" onclick="btnAiClick(this)" data-streaming=false disabled>
                            <div class="font-button-labels">AI</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="body-frame">
                <div class="body-frame-top">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Brain.svg" alt="AI" width="20" height="20" style="vertical-align: text-top;">
                        <span class="font-subhead">AI Model</span>
                    </div>
                    <div class="body-frame-content font-labels">
                        AI Model
                        <select name="camera_1_model_list" id="camera_1_model_list" class="custom-select my-select font-values" style="color:#000000 !important">
                        </select>
                    </div>
                    <div class="body-frame-content font-labels" style="display:none">
                        Current Threshold
                        <div class="slider-frame">
                            <input type="range" class="slider my-slider" min="0" max="100" value="80" step="1" id="camera_3_confidence_slider">
                            <div class="slider-label-frame font-values" id="camera_1_confidence_sliderLabel">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="separator" />
                <div class="body-frame-middle">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Bar.svg" alt="AI" width="24" height="24" style="vertical-align: text-top;">
                        <span class="font-subhead">Results</span>
                    </div>
                    <div class="body-frame-content body-frame-results font-labels">
                        <div class="body-frame-result">
                            <div class="font-labels" data-toggle="tooltip" title="Number of AI Inference Results executed and sent to Cloud.  Accumulated for this session.">
                                Inference Results
                                <div class="result_label font-values" id="camera_1_inf_count_label" data-inferenceCount=0>0</div>
                            </div>
                        </div>
                        <div class="body-frame-result">
                            <div class="font-labels">
                                Object Detected
                                <div class="result_label font-values" id="camera_1_detect_count_label">0</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="separator" />
                <div class="body-frame-bottom">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Camera.svg" alt="Image" width="24" height="24" style="vertical-align: text-top;">
                        <div class="header-camera-name font-subhead">Image</div>

                        <div class="header-right-icon-frame">
                            <button type="button" class="btn btn-image-refresh" id="camera_1_image_refresh" onclick="btnGetDirectImageClick(this)" data-streaming=false disabled>
                                <div class="font-button-labels">Get Image</div>
                            </button>
                            <button type="button" class="btn btn-image-refresh" id="camera_1_image_clear" onclick="btnImageClearClick(this)" data-streaming=false disabled>
                                <div class="font-button-labels">Clear</div>
                            </button>
                        </div>
                    </div>
                    <div class="body-frame-canvas font-labels">
                        <div class="container loader-parent my-div-image" id="camera_1_canvas_container">
                            <div class="row justify-content-center align-items-center canvas-container" style="margin:0;height:100%;width:100%">
                                <canvas class="my-canvas" id="camera_1_canvas_overlay_message" style="z-index:300;"></canvas>
                                <canvas class="my-canvas" id="camera_1_canvas_overlay_annotation" style="z-index:200;" data-obclass=1></canvas>
                                <canvas class="my-canvas" id="camera_1_canvas" style="z-index:100;"></canvas>
                            </div>
                            <div id="camera_1_canvas_loaderWrapper" class="canvasLoaderWrapper" style="height:100%;width:100%;display:block">
                                <div class="canvasLoader">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Camera 2-->
        <!-- For EVS only 2 columns
        <div class="col-12 col-sm-4 col-md-4 my-col">
        -->
        <div class="col-12 col-sm-6 col-md-6 my-col">
            <div class="header-frame">
                <div class="header-frame-inside">
                    <div id="camera_2_wifi_icon" class="Svg-Inactive" width="24" height="24">
                        <svg class="Wifi-Svg" width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 5.00001L2 7.00001C6.97 2.03001 15.03 2.03001 20 7.00001L22 5.00001C15.93 -1.06999 6.08 -1.06999 0 5.00001ZM8 13L11 16L14 13C12.35 11.34 9.66 11.34 8 13ZM4 9.00001L6 11C8.76 8.24001 13.24 8.24001 16 11L18 9.00001C14.14 5.14001 7.87 5.14001 4 9.00001Z" fill="currentColor" />
                        </svg>
                    </div>
                    <div class="header-camera-name font-subhead" id="camera_2_name">Checking Camera Status...</div>
                    <div class="header-right-icon-frame">
                        <button type="button" class="btn btn-ai-inactive" id="camera_2_ai_btn" onclick="btnAiClick(this)" data-streaming=false disabled>
                            <div class="font-button-labels">AI</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="body-frame">
                <div class="body-frame-top">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Brain.svg" alt="AI" width="20" height="20" style="vertical-align: text-top;">
                        <span class="font-subhead">AI Model</span>
                    </div>
                    <div class="body-frame-content font-labels">
                        AI Model
                        <select name="camera_2_model_list" id="camera_2_model_list" class="custom-select my-select font-values">
                        </select>
                    </div>
                    <div class="body-frame-content font-labels" style="display:none">
                        Current Threshold
                        <div class="slider-frame">
                            <input type="range" class="slider my-slider" min="0" max="100" value="80" step="1" id="camera_2_confidence_slider">
                            <div class="slider-label-frame font-values" id="camera_2_confidence_sliderLabel">
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="separator" />
                <div class="body-frame-middle">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Bar.svg" alt="AI" width="24" height="24" style="vertical-align: text-top;">
                        <span class="header-camera-name font-subhead">Results</span>
                    </div>
                    <div class="body-frame-content body-frame-results font-labels">
                        <div class="body-frame-result">
                            <div class="font-labels" data-toggle="tooltip" title="Number of AI Inference Results executed and sent to Cloud.  Accumulated for this session.">
                                Inference Results
                                <div class="result_label font-values" id="camera_2_inf_count_label" data-inferenceCount=0>0</div>
                            </div>
                        </div>
                        <div class="body-frame-result">
                            <div class="font-labels">
                                Object Detected                                
                                <div class="result_label font-values" id="camera_2_detect_count_label">0</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="separator" />
                <div class="body-frame-bottom">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Camera.svg" alt="Image" width="24" height="24" style="vertical-align: text-top;">
                        <div class="header-camera-name font-subhead">Image</div>
                        <div class="header-right-icon-frame">
                            <button type="button" class="btn btn-image-refresh" id="camera_2_image_refresh" onclick="btnGetDirectImageClick(this)" data-streaming=false disabled>
                                <div class="font-button-labels">Get Image</div>
                            </button>
                            <button type="button" class="btn btn-image-refresh" id="camera_2_image_clear" onclick="btnImageClearClick(this)" data-streaming=false disabled>
                                <div class="font-button-labels">Clear</div>
                            </button>
                        </div>
                    </div>
                    <div class="body-frame-canvas font-labels">
                        <div class="container loader-parent my-div-image" id="camera_2_canvas_container">
                            <div class="row justify-content-center align-items-center" style="margin:0;height:100%;width:100%">
                                <canvas class="my-canvas" id="camera_2_canvas_overlay_message" style="z-index:300;"></canvas>
                                <canvas class="my-canvas" id="camera_2_canvas_overlay_annotation" style="z-index:200" data-obclass=0></canvas>
                                <canvas class="my-canvas" id="camera_2_canvas" style="z-index:100"></canvas>
                            </div>
                            <div id="camera_2_canvas_loaderWrapper" class="canvasLoaderWrapper" style="height:100%;width:100%;display:block">
                                <div class="canvasLoader">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Camera 3-->
        <!-- disabled for EVS
        <div class="col-12 col-sm-4 col-md-4 my-col">
            <div class="header-frame">
                <div class="header-frame-inside">
                    <div id="camera_3_wifi_icon" class="Svg-Inactive" width="24" height="24">
                        <svg class="Wifi-Svg" width="22" height="16" viewBox="0 0 22 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M0 5.00001L2 7.00001C6.97 2.03001 15.03 2.03001 20 7.00001L22 5.00001C15.93 -1.06999 6.08 -1.06999 0 5.00001ZM8 13L11 16L14 13C12.35 11.34 9.66 11.34 8 13ZM4 9.00001L6 11C8.76 8.24001 13.24 8.24001 16 11L18 9.00001C14.14 5.14001 7.87 5.14001 4 9.00001Z" fill="currentColor" />
                        </svg>
                    </div>
                    <div class="header-camera-name font-subhead" id="camera_3_name">Loading...</div>
                    <div class="header-right-icon-frame">
                        <button type="button" class="btn btn-ai-inactive" id="camera_3_ai_btn" onclick="btnAiClick(this)" data-streaming=false>
                            <div class="font-button-labels">AI</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="body-frame">
                <div class="body-frame-top">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Brain.svg" alt="AI" width="20" height="20" style="vertical-align: text-top;">
                        <span class="font-subhead">AI Model</span>
                    </div>
                    <div class="body-frame-content font-labels">
                        AI Model
                        <select name="camera_3_model_list" id="camera_3_model_list" class="custom-select my-select font-values" style="color:#000000 !important">
                        </select>
                    </div>
                    <div class="body-frame-content font-labels" style="display:none">
                        Current Threshold
                        <div class="slider-frame">
                            <input type="range" class="slider my-slider" min="0" max="100" value="80" step="1" id="camera_3_confidence_slider">
                            <div class="slider-label-frame font-values" id="camera_3_confidence_sliderLabel">
                                12%
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="separator" />
                <div class="body-frame-middle">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Bar.svg" alt="AI" width="24" height="24" style="vertical-align: text-top;">
                        <span class="font-subhead">Results</span>
                    </div>
                    <div class="body-frame-content body-frame-results font-labels">
                        <div class="body-frame-result">
                            <div class="font-labels">
                                Inference Results
                                <div class="result_label font-values" id="camera_3_inf_count_label" data-inferenceCount=0>0</div>
                            </div>
                        </div>
                        <div class="body-frame-result">
                            <div class="font-labels">
                                People Detected
                                <div class="result_label font-values">test</div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="separator" />
                <div class="body-frame-bottom">
                    <div class="body-frame-label font-subhead">
                        <img src="~/images/Camera.svg" alt="Image" width="24" height="24" style="vertical-align: text-top;">
                        <div class="header-image-label font-subhead">Image</div>
                        <div class="header-right-icon-frame">
                            <button type="button" class="btn btn-image-refresh" id="camera_2_image_refresh" onclick="btnGetDirectImageClick(this)" data-streaming=false>
                                <div class="font-button-labels">Refresh</div>
                            </button>
                        </div>
                    </div>
                    <div class="body-frame-canvas font-labels">
                        <div class="container loader-parent my-div-image" id="camera_3_canvas_container">
                            <div class="row justify-content-center align-items-center" style="margin:0;height:100%;width:100%">
                                <canvas class="my-canvas" id="camera_2_canvas_overlay_message" width="566" height="434" style="z-index:300;"></canvas>
                                <canvas class="my-canvas" id="camera_3_canvas_overlay" style="z-index:300"></canvas>
                                <canvas class="my-canvas" id="camera_3_canvas" style="z-index:100;border-color:red !important;border: thin double !important;"></canvas>
                            </div>
                            <div id="camera_3_canvas_loaderWrapper" class="canvasLoaderWrapper" style="height:100%;width:100%;display:block">
                                <div class="canvasLoader">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        -->
    </div>
    <div id="divLog" class="row" style="padding-top:28px" hidden>
        <div class="col-12 col-sm-12 col-md-12 my-col">
            <div class="header-frame">
                <div class="header-frame-inside">
                    <img src="~/images/Logs.svg" alt="AI" width="24" height="24" style="vertical-align: text-top;margin-right:8px">
                    <div class="header-camera-name font-subhead">Logs</div>
                    <div class="header-right-icon-frame">
                        <button type="button" class="btn" id="btnClearLogs" style="color:#ffffff;display:flex">
                            <img src="~/images/Trash.svg" alt="AI" width="24" height="24" style="vertical-align: text-top;margin-right:8px">
                            <div class="font-text-actions">Clear</div>
                        </button>
                    </div>
                </div>
            </div>
            <div class="body-frame">
                <textarea readonly id="txAreaStatus" class="txArea-log font-monospace" title="Log Display Area"></textarea>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script type="text/javascript" src="/lib/microsoft/signalr/dist/browser/signalr.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>
    <script type="text/javascript" src="/js/ConsoleAPI.js"></script>


    <script type="text/javascript">

        //let camera_1_canvas;
        //let canvasContextCamera1;
        //let resizeObserver;
        let sliderThresholdCamera1 = document.getElementById("camera_1_confidence_slider");
        let sliderThresholdCamera2 = document.getElementById("camera_2_confidence_slider");
        let sliderThresholdCamera3 = document.getElementById("camera_3_confidence_slider");
        let sliderThresholdValueCamera1 = document.getElementById("camera_1_confidence_sliderLabel");
        let sliderThresholdValueCamera2 = document.getElementById("camera_2_confidence_sliderLabel");
        let sliderThresholdValueCamera3 = document.getElementById("camera_3_confidence_sliderLabel");
        let signalRHub;
        let imageCountMap = new Map();
        let cameraInfoMap = new Map();
        let modelInfoMap = new Map();
        const deviceIds = [];
        let bAutoPilot = false;
        let bAutoPilotImage = false
        let bInitialized = false;
        let classColorMap = new Map();

        classColorMap.set(0, 'yellow');
        classColorMap.set(1, 'red');


        window.onload = function () {
        };

        $(document).ready(function () {

            // Initialize canvas before initializing cameras
            initCanvas('camera_1_canvas');
            initCanvas('camera_2_canvas');

            let camera1_id = '@(ViewData["Camera_1_ID"])';
            let camera2_id = '@(ViewData["Camera_2_ID"])';
            let camera3_id = '@(ViewData["Camera_3_ID"])';
            deviceIds.push(camera1_id);
            deviceIds.push(camera2_id);

            modelInfoMap.set('suitcase_people', { 'CommandFileModelCount0' : 'suitcase_people_0', 'CommandFileModelCount1': 'suitcase_people_1', 'classId': '1' });
            modelInfoMap.set('suitcase_car', { 'CommandFileModelCount0' : 'suitcase_car_0', 'CommandFileModelCount1': 'suitcase_car_1', 'classId': '0' });

            let index = 1;
            deviceIds.forEach((deviceId) => {
                cameraInfoMap.set(deviceId, {
                    'cameraName' : '',
                    'cameraNameId': `camera_${index}_name`,
                    'wifiIconId': `camera_${index}_wifi_icon`,
                    'modelListId': `camera_${index}_model_list`,
                    'btnAiId': `camera_${index}_ai_btn`,
                    'btnRefreshImageId': `camera_${index}_image_refresh`,
                    'btnClearImageId': `camera_${index}_image_clear`,
                    'canvas':`camera_${index}_canvas`,
                    'currentModelId': '',
                    'currentCommandParameterFile' : '',
                    'pendingInferenceCount': 0
                });
                index++;
            });

            console.debug('=====> initCameras')
            initCameras().
                then(function (){
                    console.debug('<===== initCameras')
                    bInitialized = true;
                    DisableEnableNavbarButtons(false);
                });

            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            })

            $('.sidebar-mini').removeClass('sidebar-open');
            $('.sidebar-mini').addClass('sidebar-closed sidebar-collapse');

            //disabled for EVS
            //initCanvas('camera_3_canvas');

            document.getElementById("txAreaStatus").value = '';

            // SignalR
            signalRHub = new signalR.HubConnectionBuilder()
                .withUrl("/hub")
                .configureLogging(signalR.LogLevel.Information)
                .build();

            signalRHub.start()
                .then(() => console.log('SignalR connected!'))
                .catch(err => console.log(`Error while establishing a connection : ${err.toString()}`));

            signalRHub.on('deviceTelemetry', function (payload) {

                processTelemetry(payload);
            });

            let loaderSpinner = document.getElementById(`loaderSpinner`);
            loaderSpinner.style.display = "none";
            //bInitialized = true;
            //DisableEnableNavbarButtons(false);

        });

        // Clear logs in text area
        $('#btnClearLogs').click(function (evt) {
            document.getElementById('txAreaStatus').value = null;
        })

        function StartAutoPilotNoImageClick() {

            // Set flags
            bAutoPilot = true;
            bAutoPilotImage = false;

            // Change icons' active status
            $(`#autopilot-start-No-Image`).addClass('Svg-Active');
            $(`#autopilot-start-No-Image`).removeClass('Svg-White');
            $(`#autopilot-start-No-Image`).prop('disabled', true);

            // Start inference on all devices
            deviceIds.forEach((deviceId) => {
                SetPendingInferenceCount(deviceId, -1);
                StartUploadInferenceResultWrapper(deviceId);
            });

            // Disable Navbar Buttons
            DisableEnableNavbarButtons(true);
        }

        function StartAutoPilotClick() {

            // Set flags
            bAutoPilot = true;
            bAutoPilotImage = true;

            // Change icons' active status
            $(`#autopilot-start`).addClass('Svg-Active');
            $(`#autopilot-start`).removeClass('Svg-White');
            $(`#autopilot-start-No-Image`).prop('disabled', true);

            // Start inference on all devices
            deviceIds.forEach((deviceId) => {
                SetPendingInferenceCount(deviceId, -1);
                StartUploadInferenceResultWrapper(deviceId);
            });

            // Disable Navbar Buttons
            DisableEnableNavbarButtons(true);
        }


        function StopAutoPilotClick() {

            // Set flag
            bAutoPilot = false;
            // Change icons' active status
            $(`#autopilot-start`).addClass('Svg-White');
            $(`#autopilot-start`).removeClass('Svg-Active');
            $(`#autopilot-start-No-Image`).addClass('Svg-White');
            $(`#autopilot-start-No-Image`).removeClass('Svg-Active');

            // Stop inference on all devices
            deviceIds.forEach((deviceId) => {
                SetPendingInferenceCount(deviceId, 0);
                StopUploadInferenceResultWrapper(deviceId);
            });

            // Enable Navbar Buttons
            DisableEnableNavbarButtons(false);
        }

        function DisableEnableNavbarButtons(start)
        {
            if (start == true)
            {
                $(`#autopilot-start-No-Image-ahref`).addClass('link-disabled');
                $(`#autopilot-start-ahref`).addClass('link-disabled');
                $(`#autopilot-stop-ahref`).removeClass('link-disabled')

                cameraInfoMap.forEach((cameraInfo) => {
                    $(`#${cameraInfo.btnAiId}`).prop('disabled', true);
                });
            }
            else
            {
                $(`#autopilot-start-No-Image-ahref`).removeClass('link-disabled');
                $(`#autopilot-start-ahref`).removeClass('link-disabled');
                $(`#autopilot-stop-ahref`).addClass('link-disabled')
                cameraInfoMap.forEach((cameraInfo) => {
                    $(`#${cameraInfo.btnAiId}`).prop('disabled', false);
                });
            }
        }

        function HideOverlay()
        {
            if (document.getElementById(`camera_1_canvas_overlay`).style.display == "none")
            {
                document.getElementById(`camera_1_canvas_overlay`).style.display = "block";
            }
            else
            {
                document.getElementById(`camera_1_canvas_overlay`).style.display = "none";

            }

            if (document.getElementById(`camera_2_canvas_overlay`).style.display == "none") {
                document.getElementById(`camera_2_canvas_overlay`).style.display = "block";
            }
            else {
                document.getElementById(`camera_2_canvas_overlay`).style.display = "none";

            }
        }
    </script>
}