@{
    ViewData["Title"] = "AITRIOS Console Mockup Demo";
}

<div class="container-fluid">
    <div class="row" style="padding-top: 0.25em;">

        <!-- Camera 1 -->
        <div class="col-12 col-sm-4 col-md-4 my-col">
            <div class="card card-default my-card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa-solid fa-wifi fa-wifi-connected"></i>
                        Camera 1
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="callout callout-info">
                        <h5>
                            <i class="fa-solid fa-brain "></i>
                            AI Model
                        </h5>
                        <div>
                            Select AI Model
                        </div>

                        <select name="modelListCamera1" id="modelListCamera1" class="form-control custom-select">
                            <option value="people" selected>People Detection</option>
                            <option value="box">Box Detection</option>
                            <option value="car">Car Detection</option>
                        </select>
                    </div>

                    <div class="callout callout-info">
                        <h5>
                            <i class="fa-solid fa-sliders"></i>
                            Inference Threshold
                        </h5>

                        <div>
                            <div class="slider-aitrios" style="overflow:auto">
                                <label class="label-threshold" for="SliderConfidenceLevelCamera1">Current Threshold : <span id="SpanConfidenceLevelCamera1">10</span><span>%</span></label>
                                <input type="range" class="slider" min="0" max="100" value="80" step="1" id="SliderConfidenceLevelCamera1" style="width:100%">
                            </div>
                        </div>
                    </div>
                    <div class="callout callout-info">
                        <h5>
                            <i class="fas fa-play-circle"></i>
                            AI Inference
                        </h5>
                        <div>
                            Start/Stop AI Inference
                        </div>
                        <input type="checkbox" name="aiSwtichCamera1" data-handle-width="100" checked data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="Start" data-off-text="Stop">
                    </div>
                    <div class="callout callout-info" style="margin-top:0.1em">
                        <h5>
                            <i class="fas fa-poll"></i>
                            Results
                        </h5>
                        <div class="row" style="color:red">
                            <div class="col-4 col-sm-4 col-md-4">
                                <div style="text-align:right">
                                    <strong># of xxx detected</strong>
                                </div>
                                <div style="text-align:right">
                                    <strong>Average Power Consumption</strong>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div>
                                    <pre class="pre-inline" style="color:red"> abcd</pre>
                                </div>
                                <div style="color:red">
                                    <pre class="pre-inline" style="color:red"><pre class="pre-inline" style="color:red">xyz</pre> Wh</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="callout callout-info">
                        <h5>
                            <i class="fa-solid fa-images"></i>
                            Image
                        </h5>
                        <div class="container loader-parent my-div-image">
                            <div class="row justify-content-center align-items-center">
                                <canvas id="canvasCamera1Overlay" height="320" width="320" style="max-width:320px;max-height:320px;z-index:300"></canvas>
                                <canvas id="canvasCamera1" height="320" width="320" style="max-width:320px;max-height:320px;z-index:100;position:absolute"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Camera 2 -->
        <div class="col-12 col-sm-4 col-md-4 my-col">
            <div class="card card-default my-card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa-solid fa-wifi fa-wifi-connected"></i>
                        Camera 2
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="callout callout-info">
                        <h5>
                            <i class="fa-solid fa-brain"></i>
                            AI Model
                        </h5>
                        <div>
                            Select AI Model
                        </div>

                        <select name="modelListCamera2" id="modelListCamera2" class="form-control custom-select">
                            <option value="people">People Detection</option>
                            <option value="box" selected>Box Detection</option>
                            <option value="car">Car Detection</option>
                        </select>
                    </div>

                    <div class="callout callout-info">
                        <h5>
                            <i class="fa-solid fa-sliders"></i>
                            Inference Threshold
                        </h5>
                        <div>
                            <div class="slider-aitrios" style="overflow:auto">
                                <label class="label-threshold" for="SliderConfidenceLevelCamera2">Current Threshold : <span id="SpanConfidenceLevelCamera2">10</span><span>%</span></label>
                                <input type="range" class="slider" min="0" max="100" value="80" step="1" id="SliderConfidenceLevelCamera2" style="width:100%">
                            </div>
                        </div>
                    </div>
                    <div class="callout callout-info">
                        <h5>
                            <i class="fas fa-play-circle"></i>
                            AI Inference
                        </h5>
                        <div>
                            Start/Stop AI Inference
                        </div>
                        <input type="checkbox" name="aiSwtichCamera2" data-handle-width="100" checked data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="Start" data-off-text="Stop">
                    </div>
                    <div class="callout callout-info" style="margin-top:0.1em">
                        <h5>
                            <i class="fas fa-poll"></i>
                            Results
                        </h5>
                        <div class="row" style="color:red">
                            <div class="col-4 col-sm-4 col-md-4">
                                <div style="text-align:right">
                                    <strong># of xxx detected</strong>
                                </div>
                                <div style="text-align:right">
                                    <strong>Average Power Consumption</strong>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div>
                                    <pre class="pre-inline" style="color:red"> abcd</pre>
                                </div>
                                <div style="color:red">
                                    <pre class="pre-inline" style="color:red"><pre class="pre-inline" style="color:red">xyz</pre> Wh</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="callout callout-info" style="margin-bottom:0.5em">
                        <h5>
                            <i class="fa-solid fa-images"></i>
                            Image
                        </h5>
                        <div class="container loader-parent my-div-image" height="320" width="320">
                            <div class="row justify-content-center align-items-center">
                                <canvas id="canvasCamera2Overlay" height="320" width="320" style="max-width:320px;max-height:320px;z-index:300"></canvas>
                                <canvas id="canvasCamera2" height="320" width="320" style="max-width:320px;max-height:320px;z-index:100;position:absolute"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Camera 3-->
        <div class="col-12 col-sm-4 col-md-4 my-col">
            <div class="card card-default my-card">
                <div class="card-header">
                    <h3 class="card-title">
                        <i class="fa-solid fa-wifi fa-wifi-disconnected"></i>
                        Camera 3
                    </h3>
                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body">
                    <div class="callout callout-info">
                        <h5>
                            <i class="fa-solid fa-brain"></i>
                            AI Model
                        </h5>
                        <div>
                            Select AI Model
                        </div>

                        <select name="modelListCamera3" id="modelListCamera3" class="form-control custom-select">
                            <option value="people">People Detection</option>
                            <option value="box">Box Detection</option>
                            <option value="car" selected>Car Detection</option>
                        </select>
                    </div>

                    <div class="callout callout-info">
                        <h5>
                            <i class="fa-solid fa-sliders"></i>
                            Inference Threshold
                        </h5>
                        <div>
                            <div class="slider-aitrios" style="overflow:auto">
                                <label class="label-threshold" for="SliderConfidenceLevelCamera3">Current Threshold : <span id="SpanConfidenceLevelCamera3">10</span><span>%</span></label>
                                <input type="range" class="slider" min="0" max="100" value="80" step="1" id="SliderConfidenceLevelCamera3" style="width:100%">
                            </div>
                        </div>
                    </div>
                    <div class="callout callout-info">
                        <h5>
                            <i class="fas fa-play-circle"></i>
                            AI Inference
                        </h5>
                        <div>
                            Start/Stop AI Inference
                        </div>
                        <input type="checkbox" name="aiSwtichCamera3" data-handle-width="100" checked data-bootstrap-switch data-off-color="danger" data-on-color="success" data-on-text="Start" data-off-text="Stop">
                    </div>
                    <div class="callout callout-info" style="margin-top:0.1em">
                        <h5>
                            <i class="fas fa-poll"></i>
                            Results
                        </h5>
                        <div class="row" style="color:red">
                            <div class="col-4 col-sm-4 col-md-4">
                                <div style="text-align:right">
                                    <strong># of xxx detected</strong>
                                </div>
                                <div style="text-align:right">
                                    <strong>Average Power Consumption</strong>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 col-md-4">
                                <div>
                                    <pre class="pre-inline" style="color:red"> abcd</pre>
                                </div>
                                <div style="color:red">
                                    <pre class="pre-inline" style="color:red"><pre class="pre-inline" style="color:red">xyz</pre> Wh</pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="callout callout-info" style="margin-bottom:0.5em">
                        <h5>
                            <i class="fa-solid fa-images"></i>
                            Image
                        </h5>
                        <div class="container loader-parent my-div-image" height="320" width="320">
                            <div class="row justify-content-center align-items-center">
                                <canvas id="canvasCamera3Overlay" height="320" width="320" style="max-width:320px;max-height:320px;z-index:300"></canvas>
                                <canvas id="canvasCamera3" height="320" width="320" style="max-width:320px;max-height:320px;z-index:100;position:absolute"></canvas>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

@section scripts
    {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>
    <script type="text/javascript" src="/js/site.js"></script>


    <script type="text/javascript">

        let canvasCamera1;
        let canvasContextCamera1;
        let resizeObserver;
        let sliderThresholdCamera1 = document.getElementById("SliderConfidenceLevelCamera1");
        let sliderThresholdCamera2 = document.getElementById("SliderConfidenceLevelCamera2");
        let sliderThresholdCamera3 = document.getElementById("SliderConfidenceLevelCamera3");
        let sliderThresholdValueCamera1 = document.getElementById("SpanConfidenceLevelCamera1");
        let sliderThresholdValueCamera2 = document.getElementById("SpanConfidenceLevelCamera2");
        let sliderThresholdValueCamera3 = document.getElementById("SpanConfidenceLevelCamera3");

        $(document).ready(function () {

            //
            // Slider
            //
            SpanConfidenceLevelCamera1.innerHTML = SliderConfidenceLevelCamera1.value;
            SpanConfidenceLevelCamera2.innerHTML = SliderConfidenceLevelCamera2.value;
            SpanConfidenceLevelCamera3.innerHTML = SliderConfidenceLevelCamera3.value;

            sliderThresholdCamera1.addEventListener("input", processSliderInput, false);
            sliderThresholdCamera2.addEventListener("input", processSliderInput, false);
            sliderThresholdCamera3.addEventListener("input", processSliderInput, false);

            $("input[data-bootstrap-switch]").each(function () {
                $(this).bootstrapSwitch('state', $(this).prop('checked'));
            })

            $('.sidebar-mini').removeClass('sidebar-open');
            $('.sidebar-mini').addClass('sidebar-closed sidebar-collapse');

            initCanvas('canvasCamera1', "/images/People.png");
            initCanvas('canvasCamera2', "/images/Box.png");
            initCanvas('canvasCamera3', "/images/Car.png");

        });
    </script>
}